# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*$py.class

# Database local
db.sqlite3
*.sqlite3

# Ambiente Virtual
.venv/
venv/
env/
ENV/

# Variáveis de Ambiente e Segredos GCP
.env
gcp-key.json
*.json

# Configurações de IDEs
.vscode/
.idea/